<div class="page-header">
  <h2>Sequence and Gene Queries <small>Data loaded <span id="loaded_at"></span> (Reload the browser to see updated data)</small></h2>
  <p>
  PseudoFuN is a computational tool for studying potential functions of
  pseudogenes in the context of evolution and diseases
  <%= link_to '(see "About" for more information)', about_path %>.
  <strong>Please direct all questions and suggestions to
    Travis Johnson MS (travis.johnson@osumc.edu) or Yan Zhang PhD (yan.zhang@osumc.edu).</strong>
  </p>
</div>

<script>
(function(){
  var loaded_at = moment(),
  update_loaded_at = function(){
    $('#loaded_at').text(loaded_at.fromNow());
  }

  setInterval(update_loaded_at, 60);
})();
</script>

<div class="row">
  <div class="panel">
    <%= link_to "New Sequence Query", new_sequence_path, :class => 'btn btn-large btn-info' %>
    <%= link_to "New Gene Query", new_gene_path, :class => 'btn btn-large btn-info' %>
  </div>
</div>

<div class="row">
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Job ID</th>
      <th>Status</th>
      <th>Type</th>
      <th>Database</th>
      <th>Name</th>
      <th>Sequence</th>
      <th class="no-sort"></th>
      <th class="no-sort"></th>
      <th class="no-sort"></th>
      <th class="no-sort"></th>
      <th class="no-sort"></th>
    </tr>
    </thead>

    <tbody>
    <% @blasts.reverse_each do |blast| %>
        <tr>
          <td><%= blast.id %></td>
          <td><%= blast.jobids %></td>
          <td><%= status_label(blast) %></td>
          <td><%= blast.context.to_s.titleize %></td>
          <td><%= blast.database %></td>
          <td><%= blast.name %></td>
          <% if blast.gene? %>
            <td style="max-width: 200px; word-wrap: break-word;">N/A</td>
            <td><%= link_to 'Submit', submit_gene_path(blast), method: :put, class: 'btn btn-success btn-sm' unless blast.submitted? %></td>
            <td><%= link_to 'Show', gene_path(blast), class: 'btn btn-primary btn-sm' %></td>
            <td><%= link_to 'Edit', edit_gene_path(blast), class: 'btn btn-default btn-sm' unless blast.submitted? %></td>
            <td><%= link_to 'Copy', copy_gene_path(blast), method: :put, class: 'btn btn-default btn-sm' %></td>
            <td><%= link_to 'Destroy', gene_path(blast), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure?' } %></td>
          <% else %>
            <td style="max-width: 200px; word-wrap: break-word;"><%= blast.sequence %></td>
            <td><%= link_to 'Submit', submit_sequence_path(blast), method: :put, class: 'btn btn-success btn-sm' unless blast.submitted? %></td>
            <td><%= link_to 'Show', sequence_path(blast), class: 'btn btn-primary btn-sm' %></td>
            <td><%= link_to 'Edit', edit_sequence_path(blast), class: 'btn btn-default btn-sm' unless blast.submitted? %></td>
            <td><%= link_to 'Copy', copy_sequence_path(blast), method: :put, class: 'btn btn-default btn-sm' %></td>
            <td><%= link_to 'Destroy', sequence_path(blast), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br>
