<div class="page-header">
    <h2>Showing Blast</h2>
</div>

<p>
  <strong>Name:</strong>
  <%= @blast.name %>
</p>

<p style="word-wrap: break-word">
  <strong>Sequence:</strong>
  <%= @blast.sequence %>
</p>

<p>
  <strong>Status:</strong>
  <%= status_label(@blast) %>
</p>

<% unless @blast.jobids.blank? %>
<p>
  <strong>Job ID:</strong>
  <%= @blast.jobids %>
</p>
<% end %>

<% if @blast.staged_dir %>
<p>
  <strong>Staged Dir:</strong>
  <%= link_to @blast.staged_dir, OodAppkit.files.url(path: Pathname.new(@blast.staged_dir)).to_s, target: "_blank" %>
</p>
<% end %>

<% if ! @blast.graph.nil? %>
  <svg class="graph" width="100%" height="500"></svg>
  <script>
  genfdgraph(d3.select('svg.graph'), <%=raw @blast.graph.to_json %>);
  </script>
  <p>
    <strong>Graph Data:</strong>
    <pre><%= JSON.pretty_generate(@blast.graph) %></pre>
  </p>
<% elsif @blast.completed? %>
  <div class="alert alert-danger">Results data <%= "(#{@blast.outgraph_file.basename})" if @blast.outgraph_file %> not available. An error may have occurred.</div>
<% end %>

<% if @blast.output %>
    <p>
      <strong>Output:</strong>
    <pre><%= @blast.output %></pre>
    </p>
<% end %>

<%= link_to 'Back', blasts_path, class: 'btn btn-default' %>
<%= link_to 'Edit', edit_blast_path(@blast), class: 'btn btn-default' %>
