<% if Mapping.has_directory_permission_errors? %>
  <div class="alert alert-danger" role="alert">
    <div class="panel-body">Warning: certain directories owned by <code>bmiadmin</code> have incorrect permissions which will prevent app and dataset sharing. As <code>bmiadmin</code> run the following to set the correct permissions:</div>
    <div class="panel-body"><pre><code><%= Mapping.directory_permissions_command %></code></pre></div>
  </div>
<% end %>
<div class="panel">
  <a class="btn btn-large btn-primary" href="<%= new_mapping_path %>">Add New Mapping</a>
</div>
<table class="table data-table">
  <thead>
    <th>User</th>
    <th>App</th>
    <th>Dataset</th>
    <th>Valid</th>
    <th>Date Modified</th>
    <th></th>
  </thead>
  <tbody>
  <%  Mapping.find_each do |mapping| %>
    <tr>
      <td><%= mapping.user %></td>
      <td><%= mapping.app.split.last %></td>
      <td><%= mapping.dataset %></td>
      <td><%= mapping.is_still_valid? ? fa_icon('check') : fa_icon('exclamation-triangle') %></td>
      <td><%= mapping.updated_at %></td>
      <td><%= link_to 'Destroy',  mapping_path(mapping), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this mapping?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>