<% if Mapping.has_directory_permission_errors? %>
  <div class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <p>Warning: certain directories owned by <code><%= ENV['APP_OWNER'] %></code> have incorrect permissions which will prevent app and dataset sharing. As owner of these directories run the following to set the correct permissions:</p>
    <p><pre><code><%= @directory_permissions_command %></code></pre></p>
  </div>
<% end %>

<% if @permission_changes && @permission_changes.reject(&:updated).any? %>
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  Updating permissions resulted in errors:

  <ul>
    <% @permission_changes.reject(&:updated).each do |c| %>
      <li><%= "#{c.type}: #{c.path} - #{c.error}" %></li>
    <% end %>
  </ul>
</div>
<% end %>

<% if @permission_changes &&  %>
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  Updated permissions:

  <% if @permission_changes.select(&:updated).any? %>
  <ul>
    <% @permission_changes.select(&:updated).each do |c| %>
      <li><%= "#{c.type}: #{c.path}" %></li>
    <% end %>
  </ul>
  <% else %>
  No updates required.
  <% end %>
</div>
<% end %>


<div class="row">
<div class="col-md-12">
    <%= link_to "Add New Mapping", new_mapping_path, class: "btn btn-large btn-primary" %>
    <%= link_to "Fix Permissions", fix_permissions_mappings_path, method: 'put', class: "btn btn-large btn-warning" %>
    <hr>
</div>
</div>


<div class="row">
<div class="col-md-12">

<table class="table data-table">
  <thead>
    <th>User</th>
    <th>App</th>
    <th>Dataset</th>
    <th></th>
    <th>Valid</th>
    <th>Date Modified</th>
    <th></th>
  </thead>
  <tbody>
  <%  Mapping.find_each do |mapping| %>
    <tr>
      <td><%= display_username(mapping.user) %></td>
      <td><%= mapping.app.split.last %></td>
      <td>
        <%= mapping.dataset %>
      </td>
      <td>
        <%= render partial: "edit_dataset_buttons", locals: { dataset_path: mapping.dataset }%>
      </td>
      <td><%= mapping.is_still_valid? ? fa_icon('check') : fa_icon('exclamation-triangle') + ' ' + mapping.reason_invalid %></td>
      <td><%= mapping.updated_at %></td>
      <td><%= link_to 'Destroy',  mapping_path(mapping), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this mapping?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>
